<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Join</h1>
    <form method="post" action="/join">
        이름 <input type="text" name="uname"> <br>
        비밀번호 <input type="password" name="pw"> <br>
        이메일 <input type="email" name="uemail">
        
        <button type="submit"> Join </button>
    </form>
</body>
</html>